/* si applica a tutti i paragrafi, a tutti gli h1, a tutte le div */
/* questo è un selettore generale di elementi */
p {
    color:blue;
    }
   
    h1 {
        front-size: 32px;
    }

    div{
        background-color: lightgray;
    }

    /* classe  */
 .nomeClasse {
    background-color: yellow;
    }

    /* applica questo stile all'elemento id */
    #TitoloImportante {
    front-size: 24px;
    }

    /* seleziono tutti i p all'interno di un div */
    div p {
        color: red;
    }

    /* applico lo stile ai link quando il mouse passa sopra */
    a:hover {
        color: red;
    }
